<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <p class="lead">
          Este es un correo para que re-establesca su contraseña, haga click en el siguiente boton para redirigirlo y 
          que pueda realizar el cambio de contraseña.
        </p>
        <a href="http://localhost:8080/recoverPass/{{userId}}">
          <button>Cambiar contraseña</button>
        </a>
      </div>
    </div>
  </div>
</section>