<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="/img/passReset.png" class="img-fluid"
          alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/api/users/resetPass/{{idUser}}" method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Nueva Contrase単a" required/>
            <label class="form-label" for="password">Nueva contrase単a</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password2" id="password2" name="password2" class="form-control form-control-lg" placeholder="Repetir Contrase単a" required/>
            <label class="form-label" for="password">Vuelva a escribir su contrase単a</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>